<div class="medication-table">
	<app-search-medication />
    <table class="medication-list">
        <thead>
            <tr>
                <th scope="col" class="medication-header">Product name</th>
                <th scope="col" class="medication-header">Color</th>
                <th scope="col" class="medication-header">Category</th>
                <th scope="col" class="medication-header">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="medication-row">
                <th scope="row" class="medication-title">Apple MacBook Pro 17"</th>
                <td class="medication-cell">Silver</td>
                <td class="medication-cell">Laptop</td>
                <td class="medication-cell">$2999</td>
            </tr>
        </tbody>
    </table>
</div>
