<div class="table-container">
	<app-search-medication />
	<div class="medication-table">
		<table class="medication-list">
			<thead>
				<tr>
					<th scope="col">Medication</th>
					<th scope="col">Dosage</th>
					<th scope="col">Frequency</th>
					<th scope="col">Last updated</th>
				</tr>
			</thead>
			<tbody>
				<tr class="medication-row">
					<td scope="row" class="medication-title">Aspirin</td>
					<td>3 capsules</td>
					<td>Wed, Sat at 00:00 </td>
					<td>05 November 2024</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

